body {
    background: rgb(125, 198, 205);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
    border-style: inset;
    b
}

/* navigation menu */
nav {
    background: rgb(255, 174, 243);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-left: solid;
    border-color: grey;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
    border-left: solid;
}

/* main container area beneath menu */
main {
    background: rgb(255, 174, 219);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
    border-left: solid;
}

/* portfolio styles */
#interests {
    border: 4px rgb(255, 193, 245) ridge;
    padding: 8px;
    border-left: solid;
}
h2, h3 {
    margin: 0px;
}